
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color: black; text-decoration:underline"><strong>About Your Lemonade Stand</strong></h2><br><br>
            </div>
            <div class="col-lg-12 text-center">
                <table>
                     <tr id="mission">
                        <td>
                            <h3 style="color: black;"><strong>Mission</strong></h3>
                            <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                            <p align="left"  style="color: black; padding: 0px 66px;">
                            Your Lemonade Stand offers schools an opportunity to inspire, inform, and enlighten K-12 students to embrace entrepreneurialism, professionalism, labor, and craftsmanship.
                            </p><br>
                        </td>
                    </tr>
                    <tr id="inspirations">
                        <td>
                            <div class="row" id="inspirations">
                            <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h3 style="color: black;"><strong>Inspirations</strong></h2>
                                    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                                    <p align="left" style="padding: 0px 66px;color:black;">&nbsp;&bull;&nbsp;<i>Students</i>!<br>
                                    The big smiles, bright eyes, and great questions make it impossible to walk into a classroom without smiling. You can’t help but feel inspired for our future.</p>
                                    <p align="left" style="padding: 0px 66px;color:black;">
                                    <p align="left" style="padding: 0px 66px;color:black;">&nbsp;&bull;&nbsp;<i>Sam Bornholdt</i> (1914-2007)<br>
                                    Described as a Baptist Gandhi truck driver, Sam profoundly influenced the lives of over thirty young people in his life through encouragement, matchmaking, job opportunities and spiritual direction, but always with unconditional love. While Sam's two best friends had PhDs, Sam never felt confident about his education or his career. If he had, who knows how many thousands of young people may have benefited from his influence? The lesson of Sam is that every child matters and can make a difference in the lives of others. </p>
                                    
                                    <p align="left" style="padding: 0px 66px;color:black;">    
                                        &nbsp;&bull;&nbsp;<i>Matthew Crawford</i><br>
                                        &nbsp; &nbsp;Two words: PhD. Motorcycle mechanic.<br> &nbsp; &nbsp;How cool is that!!???<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp;<i>TED Talk</i>: <a style="color:black;text-decoration:underline;" target="blank" href="https://youtu.be/xdGky1JZovg">Manual Competence</a><br>

                                        &nbsp; &nbsp; &nbsp; &nbsp;<i>Book</i>: <a style="color:black;text-decoration:underline;" target="blank" href="http://a.co/3II3x8W">Shop Class as Soulcraft</a><br>    
                                    </p>
                                </div>
                            </div>                            
                        </td>
                    </tr>
                    <tr id="whos-behind-this">
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h3 style="color: black;"><strong>Who's Behind This?</strong></h2>
                                        <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                                        <p align="left" style="padding: 0px 66px;color:black;">
                                            YOUR Lemonade Stand is currently made up of over 100 caring business people, educators, and parents who want to make an inspiring difference in the lives of students.
                                        </p>
                                        <p align="left" style="padding: 0px 66px;color:black;">
                                            Founder, <strong>Dan Bornholdt</strong>, is also the semi-retired owner/founder of Green Suites Hotel Solutions in Upland, CA, USA. Dan has been self-employed since age 24 and has worked since age eight (starting with a lemonade stand). He has been a paperboy, a gardener, a convalescent hospital orderly, a waiter, a truck driver, and a three time business owner. His entrepreneurial life has allowed him to travel to over 60 countries, climb mountains and complete three ocean crossings by sailboat. More importantly, he's made numerous friends, read countless books and raised two extraordinary daughters.
                                        </p>
                                        <p align="left" style="padding: 0px 66px;color:black;">
                                                Co-Founder <strong>Jim Vanderaa</strong> was born in 1958 in Montreal, Canada. Jim graduated from McGill University with a BA in economics and was also an undersized center on the Redmen basketball team. He immigrated to the United States in 1986, living first in Boulder, Colorado, then in New Hampshire before landing in southern California in 1989. Upon his arrival in the Golden State, Jim started a construction business, specializing in custom woodworking and finish carpentry in the high end tenant improvement markets of Los Angeles and San Francisco. In 2012, at the age of 54, Jim left the business world to chase new adventures. Jim is a world traveler, mountain climber, carpenter, guest speaker, volunteer, coach, the dad of two teenagers, and life partner of Maria, a Swede whom he met while swimming with dolphins in New Zealand. Jim is motivated by Your Lemonade Stand's mission to help educate a generation.
                                        </p>
                                    </div>
                                </div>
                            </div>                            
                        </td>
                    </tr>
                    
                    
                   
                </table>
            </div>
        </div>
    	
    </div>         
<br><br>



    	</div>
    </div>
</section>

