<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About The Lemonade Stand</h2>
                <p align="center"><a style="color:black; text-decoration: underline; font-style: italic;" href="#story" class="page-scroll">Our Story</a> - <a style="color:black; text-decoration: underline; font-style: italic;" href="#mission" class="page-scroll">Our Mission</a> - <a style="color:black; text-decoration: underline; font-style: italic;" href="#background" class="page-scroll">Background</a> - <a style="color:black; text-decoration: underline; font-style: italic;" href="#values" class="page-scroll">Values</a> - <a style="color:black; text-decoration: underline; font-style: italic;" href="#need" class="page-scroll">Need</a> - <a style="color:black; text-decoration: underline; font-style: italic;" href="#inspirations" class="page-scroll">Inspirations</a></p>
                <hr class="light">
                <p class="text-faded"></p>

                <table>
                    <tr id="story">
                        <td>
                            <h3>Our Story</h3>
                            <p align="left">
                            For generations, the lemonade stand has been a child's first foray into enterprise. It was fun, creative, and profitable. It is what every job and business might aspire to.</p><br>
                        </td>
                    </tr>
                    <tr id="mission">
                    	<td>
                    		<h3>Our Mission</h3>
                    		<p align="left">
                    		The Lemonade Stand offers school programs that inspire, inform, and enlighten K-12 students to embrace the dignity of all work and the opportunities provided by entrepreneurism, professionalism, and craftsmanship that lead fulfilling lives of possibility and aspiration. </p><br>
                    	</td>
                    </tr>
                    <tr id="background">
                    	<td>
                    		<h3>Background</h3>
                    		<p align="left">
                    		Entrepreneurs are always finding the best way to do and provide things. One might say everything in life is entrepreneurial as from finding a job, doing homework, managing time to building an business. 
                    		</p>

                    		<p align="left">
							Entrepreneurship is the crossroads where both the college bound and boundless meet. Learning and creativity is the common denominator. The college bound may pursue app development, robotics, etc. while the “career now” may learn trades that leads to business advancement and business opportunities. The trades (cooking, plumbing, carpentry, etc.) lead to entrepreneurship, financial and societal independence. Even applying for the most rudimentary job will be enhanced with ingenuity and creativity. While the challenges are great, the possibilities are greater that we might empower even one young person to reach AND grasp a future that inspires their friends, families, and communities to learn, thrive, build, invent, employ, and share success.</p><br>
                    	</td>
                    </tr>
                    <tr id="values"><td>
                    	<h3>Values</h3>
                    	<p align="left">Respect and dignity for all work. Integrity. Creativity. Opportunity. Responsibility. Community. </p><br>
                    </td></tr>
                    <tr id="need"><td>
                    	<h3>The Need</h3>
                    	<p align="left">
						Society’s one-size-fits-all aphorism of "go to college at all cost" has lead to $1.3 trillion in student loan debt, high school dropout rates of 25% (45% for colleges), higher crime (75% of all crimes are committed by high school dropouts), wage stagnation, outsourced manufacturing, an erosion of the middle class, political disenfranchisement and loss of respect for unions, trades, laborers, farming and craftsmanship. If nothing is done, the consequences are high. Economic and political malaise may remain while 25 million high paying, “middle-skilled” jobs will go unfulfilled in the coming decade. </p>
						<p align="left">
						While the challenges are great, the possibilities are greater that we might empower even one young person to reach AND grasp a future that inspires their friends, families, and communities to learn, thrive, build, invent, employ, and share success.</p><br>
                    </td></tr>

                </table>
            </div>
        </div>
    </div>
</section>

