
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color: black; text-decoration:underline"><strong>About The Lemonade Stand</strong></h2><br><br>
            </div>
            <div class="col-lg-12 text-center">
                <table>
                    <tr id="why-lemonade-stand">
                        <td>
                            <h3 style="color: black;"><strong>Why Lemonade Stand?</strong></h3>
                            <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>

                            <p align="left" style="padding: 0px 66px; color: black;">
                            For generations, the lemonade stand has been a child's first foray into enterprise. It's was fun, creative, and sometimes profitable. It's what every job or business should be. YOUR Lemonade Stand is what we want to help YOU build.</p><br>
                        </td>
                    </tr>
                    <tr id="beliefs">
                    	<td>
                    		<h3 style="color: black;"><strong>What We Believe</strong></h3>
                            <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                    		<p align="left"  style="color: black; padding: 0px 66px;">
                    		EVERYTHING in life (being a student, a parent, a teacher, a factory worker or businessmen) is entrepreneurial, requiring creativity, ingenuity, and a positive attitude, whether it's ask a parent for money for the movies or building an empire.</p>
                            <p align="left"  style="color: black; padding: 0px 66px;">
                            Entrepreneurship is the crossroads where both the college bound and boundless meet. Learning and creativity is the common denominator. The college bound may pursue app development, robotics, etc. while the “career now” may learn trades that leads to business advancement and business opportunities. The trades (cooking, plumbing, carpentry, etc.) lead to entrepreneurship, financial and societal independence. Even applying for the most rudimentary job will be enhanced with ingenuity and creativity. While the challenges are great, the possibilities are greater that we might empower even one young person to reach AND grasp a future that inspires their friends, families, and communities to learn, thrive, build, invent, employ, and share success.</p>
                            <p align="left"  style="color: black; padding: 0px 66px;">
                            We value integrity, opportunity, responsibility, and community and that dignity, pride, and respect can be found in all work.</p><br>
                    	</td>
                    </tr>
                    <tr id="mission">
                    	<td>
                    		<h3 style="color: black;"><strong>Mission</strong></h3>
                            <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                    		<p align="left"  style="color: black; padding: 0px 66px;">
                    		Your Lemonade Stand offers schools an opportunity to inspire, inform, and enlighten K-12 students to embrace entrepreneurialism, professionalism, labor, and craftsmanship.
                    		</p><br>
                    	</td>
                    </tr>
                </table>
            </div>
        </div>
    	<div class="row" id="inspirations">
    		    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: black;"><strong>Inspirations</strong></h2>
                <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:black;">&nbsp;&bull;&nbsp;<i>Sam Bornholdt</i> (1914-2007) was described as a Baptist Gandhi truck driver who profoundly influenced the lives of over 30 young people in his life through encouragement, matchmaking, job opportunities, spiritual direction, but always with unconditional love. While Sam's 2 best friends had PhDs, Sam never felt confidence about his education or his career. If Sam had been given that dignity, he may have profoundly influenced the lives of 1000s of young people. The lesson of Sam is that every child matters and can make a difference in the lives of others. </p>
                <p align="left" style="padding: 0px 66px;color:black;">&nbsp;&bull;&nbsp;<i>Students</i>! It’s hard not to walk into a classroom without smiling. Bright eyes, big smiles, always great questions. It is impossible NOT to feel inspired for our future.</p>
                <p align="left" style="padding: 0px 66px;color:black;">
                    &nbsp;&bull;&nbsp;<i>Matthew Crawford</i>, PhD, motorcycle mechanic. How cool is that!!???<br />
                    &nbsp; &nbsp; &nbsp; &nbsp;<i>TED Talk</i>: <a style="color:black;text-decoration:underline;" target="blank" href="https://youtu.be/xdGky1JZovg">Manual Competence</a><br>

                    &nbsp; &nbsp; &nbsp; &nbsp;<i>Book</i>: <a style="color:black;text-decoration:underline;" target="blank" href="http://a.co/3II3x8W">Shop Class as Soulcraft</a><br>    
                </p>
            </div>
        </div>
    </div>

<div class="row" id="who">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: black;"><strong>Who's Behind This?</strong></h2>
                <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:black;">
                    YOUR Lemonade Stand is currently over 100 caring business people, educators, and parents who want to make an inspiring difference in the lives of students.
                </p>
                <p align="left" style="padding: 0px 66px;color:black;">
                    The founder is Dan Bornholdt is the semi-retired owner/founder of Green Suites Hotel Solutions in Upland, CA, USA. Dan has been self-employed since age 24 and has worked since age 8 (a lemonade stand). He has been a paperboy, a gardener, a convalescent hospital orderly, a waiter, a truck driver, and a three time business owner. His entrepreneurial life has allowed him to travel to over 60 countries, climb mountains and complete 3 ocean crossings by sailboat. More, importantly, he's made numerous friends, read countless books and raised 2 extraordinary daughters.
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="board">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: black;"><strong>Board of Directors</strong></h2>
                <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="center" style="padding: 0px 66px;color:black;">
                <i>Coming Soon.</i> </p>
            </div>
        </div>
    </div>     

    <div class="container" id="need">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: black;"><strong>The Need</strong></h2>
                <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:black;">
                Society’s one-size-fits-all aphorism of "go to college at all cost" has lead to $1.4 trillion in student loan debt, high school dropout rates of 25% (45% for colleges), higher crime (75% of all crimes are committed by high school dropouts), wage stagnation, outsourced manufacturing, an erosion of the middle class, political disenfranchisement and loss of respect for unions, trades, laborers, farming and craftsmanship. If nothing is done, the consequences are high. Economic and political malaise may remain while 25 million high paying, “middle-skilled” jobs will go unfulfilled in the coming decade.</p>

                <p align="left" style="padding: 0px 66px;color:black;">
                While the challenges are great, the possibilities are greater that we might empower even one young person to reach AND grasp a future that inspires their friends, families, and communities to learn, thrive, build, invent, employ, and share success.</p>
            </div>
        </div>
    </div> 

    <div class="container" id="solution">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: black;"><strong>A Solution</strong></h2>
                <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:black;">
                Entrepreneurship is the crossroads where both the college bound and boundless meet. Learning and creativity is the common denominator. The college bound may pursue app development, robotics, etc. while the “career now” may learn trades that leads to business advancement and business opportunities. The trades (cooking, plumbing, carpentry, etc.) lead to entrepreneurship, financial and societal independence. Even applying for the most rudimentary job will be enhanced with ingenuity, creativity, and basic work skills.</p>
            </div>
        </div>
    </div>            



<br><br>



    	</div>
    </div>
</section>

