<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="light">
                <p class="text-faded">Stuff about why a person on this page would care. Then you can hit the details. Other words nd sentences can follow. Really we could make this text area as big as we want.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>

