<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Encourage action here!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Command action here</a>
        </div>
    </div>
</aside>

