<div id="get-involved"></div>
<section class="bg-img" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/outdoor-class.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How You Can Help? </h2>
                <p>Share your Story, your career, your passions, your loves. Mentor a student. Hire an intern. Take on an apprentice.</p>
                <br>
                
                <br><h2 class="section-heading">Volunteer</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" align="center">
                <h3>I'm an Educator</h3>
                 <%= render :partial => '/educators/quick_form', :locals => {:educator => Educator.new} %>
            </div>
            <div class="col-lg-6"  align="center">
                <h3>I'm an Entrepreneur</h3>
                 <%= render :partial => '/volunteers/quick_form', :locals => {:volunteer => Volunteer.new} %>
                 
            </div>                        
        </div>
    </div>

    <br><br><br><br>
</section>

