<div class="#page-top"></div>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bornholdt & Daughters</h1>
            <hr>
            <p>Do what we tell you and you'll prosper.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

