

<div id="page-top" style="margin-top:55px;"></div>
<header style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/unnamed.jpg');">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Lemonade Stand</h1>
            <hr>
            <p style="font-size:33px;font-weight:500;">Opportunities in Entrepreneurial Education</p>
            
            <table align="center">
                <tr>
                    <td></td>
                    <td><a href="#about" class="btn btn-primary btn-xl page-scroll">learn more</a></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</header>

