<section id="inspirations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inspirations</h2>
                <hr class="primary">
                <p align="left">Sam Bornholdt (1914-2007) was described as a Baptist Gandhi truck driver who profoundly influenced the lives of over 30 young people in his life through encouragement, matchmaking, job opportunities, spiritual direction, but always with unconditional love. While Sam's 2 best friends had Phds, Sam never felt confidence about his education or his career. If Sam had been given that dignity, he may have profoundly influenced the lives of 1000s of young people. The lesson of Sam is that every child matters and can make a difference in the lives of others. </p><br>
            </div>
        </div>
    </div>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">These Videos have also inspired us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>


    <div class="container-fluid" align="center">
        <div class="row">

            <div class="col-lg-6">
				<iframe src="https://embed.ted.com/talks/thomas_suarez_a_12_year_old_app_developer" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="col-lg-6">
                <iframe src="https://embed.ted.com/talks/david_logan_on_tribal_leadership" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>

        </div>
        <br>
        <div class="row">

            <div class="col-lg-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/xdGky1JZovg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6">
                <iframe src="https://embed.ted.com/talks/mike_rowe_celebrates_dirty_jobs" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>

        </div>
        <div>
        <br><br><br><br>
        	<h4 align="center"><a href="https://www.ted.com/talks?topics%5B%5D=entrepreneur">Find More Entrepreneurial Inspiration Here > </a></h4>
        </div>
    </div>
</section>

