<nav id="getinvolved" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color:#f4e242;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">The Lemonade Stand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="nav-outer-item">
                    <a class="page-scroll" data-toggle="dropdown">About</a>
                      <ul class="dropdown-menu" style="text-align:right;padding-right:8px;background-color: #f4e242;">
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#story">Why Lemonade Stand?</a>
                        </li> 
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#mission">What We Believe</a>
                        </li>
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#background">Our Mission</a>
                        </li>
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#values">Inspirations</a>
                        </li>
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#need">Need</a>
                        </li>
                        <li class="nav-dropdown">
                            <a class="page-scroll" style="color: black;" href="#inspirations">Who's behind this?</a>
                        </li>
                      </ul>
                </li>
                <li class="nav-outer-item">
                    <a class="page-scroll" href="#what-we-do">What We Do</a>
                </li>
                <li class="nav-outer-item">
                    <a class="page-scroll" href="#get-involved">Get Involved</a>
                </li>
                <li class="nav-outer-item">
                    <a class="page-scroll" href="#schools">Schools</a>
                </li>                
                <li class="nav-outer-item">
                    <a class="page-scroll" href="#references">Resources</a>
                </li>                                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

