<nav id="#page-top" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid new-nav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">The Lemonade Stand</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="nav-outer-item">
                    <div class="dropdown">
                      <button class="dropbtn page-scroll">About</button>
                      <div class="dropdown-content">
                        <a class="page-scroll" href="#mission">Our Mission</a>
                        <a class="page-scroll" href="#inspirations">Inspirations</a>
                        <a class="page-scroll" href="#whos-behind-this">Who's Behind This?</a>
                        <a class="page-scroll" href="#contact-us">Contact Us</a>
                      </div>
                    </div>  
                </li>

                <li class="nav-outer-item">
                    <div class="dropdown">
                      <button class="dropbtn page-scroll">Why</button>
                      <div class="dropdown-content">
                        <a class="page-scroll" href="#why-lemonade-stand">Why The Lemonade Stand</a>
                        <a class="page-scroll" href="#what-we-believe">What We Believe</a>
                        <a class="page-scroll" href="#need">The Need</a>
                        <a class="page-scroll" href="#solution">A Solution</a>
                      </div>
                    </div>  
                </li>                
                <li class="nav-outer-item">
                    <div class="dropdown">
                        <a class="page-scroll" href="#what-we-do">
                            <button class="dropbtn page-scroll">What We Do</button>
                        </a>
                    </div>  
                </li>

                <li class="nav-outer-item">
                    <div class="dropdown">
                      <button class="dropbtn page-scroll">Get Involved</button>
                      <div class="dropdown-content">
                        <a class="page-scroll" href="#get-involved">Educators</a>
                        <a class="page-scroll" href="#get-involved">Parents</a>
                        <a class="page-scroll" href="#get-involved">Students</a>
                        <a class="page-scroll" href="#for-entrepreneurs">Entrepreneurs</a>
                      </div>
                    </div>  
                </li>                
                <li class="nav-outer-item">
                    <div class="dropdown">
                        <a class="page-scroll" href="#resources">
                            <button class="dropbtn page-scroll">Resources</button>
                        </a>
                    </div>  
                </li>
            </ul>
        </div>

    </div>
</nav>    