<aside class="bg-primary" id="references">
    <div class="container text-center">
        <h3>References</h3>
        <hr style="border-color:black;">
        <p>Coming Soon.</p>
    </div>
</aside>

