<section class="bg-primary" id="resources">
    <div class="container">
        <div class="row">
        	<div class="col">
				<h2 align="center" class="section-heading" style="color: black;">Resources</h2><br><br>        		
        	</div>
        </div>
        <div class="row">
        	<div class="col">

        		<div class="container-fluid">
        			<div class="row">
        				<div class="col-md-3">
        				</div>
        				<div class="col-md-6">
							<h3 align="center" class="section-heading" style="color: black;" id="books">Books</h3><br><br>
							<p align="left" style="color:black;">

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/4-Hour-Workweek-Expanded-Updated-Cutting-Edge-ebook/dp/B002WE46UW/ref=sr_1_1?s=books&ie=UTF8&qid=1508178557&sr=1-1&keywords=four+hour+work+week">The 4-Hour Workweek</a> By Tim Ferriss <br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Tools-Titans-Billionaires-World-Class-Performers/dp/1328683788/ref=sr_1_1?s=books&ie=UTF8&qid=1507826089&sr=1-1&keywords=tools+of+titans">Tools of Titans</a> By Tim Ferriss <br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Fire-Starter-Sessions-Practical-Creating-ebook/dp/B005EM8NHQ/ref=sr_1_1?s=books&ie=UTF8&qid=1508178624&sr=1-1&keywords=fire+starter+sessions">The Fire Starter Sessions</a> By Danielle LaPorte <br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Joosr-Guide-Start-Up-Chris-Guillebeau-ebook/dp/B01GEVXMQM/ref=sr_1_1?s=books&ie=UTF8&qid=1508178670&sr=1-1&keywords=the+100+startup">The $100 Startup</a> By Chris Guillebeau <br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Enchantment-Changing-Hearts-Minds-Actions-ebook/dp/B0049U4INC/ref=sr_1_1?s=books&ie=UTF8&qid=1508178721&sr=1-1&keywords=Enchantment">Enchantment</a> By Guy Kawasaki <br />				

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Finding-Your-Way-Wild-World-ebook/dp/B004T4KX1E/ref=sr_1_1?s=books&ie=UTF8&qid=1508178777&sr=1-1&keywords=Finding+Your+Way+In+A+Wild+New+World">Finding Your Way In A Wild New World</a> By Martha Beck<br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/How-Friends-Influence-People-Digital/dp/1451612591/ref=pd_lpo_sbs_14_img_0?_encoding=UTF8&psc=1&refRID=KFQ51XPAYTSNY5AXED5B">How to Win Friends and Influence People</a> By Dale Carnegie<br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://www.amazon.com/Choose-Yourself-James-Altucher/dp/1490313370/ref=sr_1_1?s=books&ie=UTF8&qid=1507825935&sr=1-1&keywords=choose+yourself+james+altucher">Choose Yourself</a> By James Altucher <br />								

							<br />
							</p>        					
        				</div>
        				<div class="col-md-3">
        				</div>
        			</div>
        			<div class="row">	
        				<div class="col-md-3">
        				</div>
        				<div class="col-md-6">
							<h3 align="center" class="section-heading" style="color: black;" id="podcasts">Podcasts</h3><br><br>
							<p align="left" style="color:black;">

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https//thefoundation.com/podcast">The Foundation</a> 

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://itunes.apple.com/us/podcast/mixergy-interviews-startup/id348690336?mt=2&ign-mpt=uo%3D4">Mixergy</a> <br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="http://eventualmillionaire.com/blog/">Eventual Millionaire</a>

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="http://creative.gimletmedia.com/shows/open-for-business/">Open for Business</a> <br />				

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://gimletmedia.com/startup/">Startup</a>

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="https://itunes.apple.com/us/podcast/id1219506845">Enlightened Entrepreneur</a><br />

							&nbsp;&bull;&nbsp;<a style="color:black;text-decoration:underline;" target="blank" href="http://www.stitcher.com/podcast/earwolf/seth-godins-startup-school">Seth Godin Startup School</a><br />
							</p>         					
        				</div>
        				<div class="col-md-3">
        				</div>
        			</div>
        		</div>

        	</div>
        </div>
        <div class="row">
        	<div class="col">

				<h3 align="center" class="section-heading" style="color: black;" id="talks">Talks</h3><br><br>
				<div class="container-fluid" align="center">
				    <div class="row">

				        <div class="col-lg-4">
							<iframe src="https://embed.ted.com/talks/thomas_suarez_a_12_year_old_app_developer" width="360" height="203" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				        </div>
				        <div class="col-lg-4">
				            <iframe src="https://embed.ted.com/talks/david_logan_on_tribal_leadership" width="360" height="203" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				        </div>
				        <div class="col-lg-4">
				            <iframe src="https://embed.ted.com/talks/mike_rowe_celebrates_dirty_jobs" width="360" height="203" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				        </div>

				    </div>
				</div>

        	</div>
        </div>
    </div>
</section>        	


