<section class="bg-primary" id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="light">
                <p class="text-faded">The Lemonade Stand deploys a network of executives, entrepreneurs, artisans and craftspeople to lead K-12 classrooms through series of educational talks and inspiring workshops.</p>

                <table>
                    <tr>
                        <td>
                            <p><strong>For Educators</strong><br> 
                            Talks and workshops by real-world doers in your school or classroom.</p>
                        </td>
                        <td width="10%"></td>
                        <td>
                            <p><strong>For Entrepreneurs</strong><br>
                            Help develop the next generation, easily and on your schedule.</p>
                        </td>
                    </tr>
                </table>
                
                <a href="#get-involved" class="btn btn-default btn-xl page-scroll">Get Involved</a>                
            </div>
        </div>
    </div>
</section>

