<section class="primary" id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <p>The Lemonade Stand offer​s entrepreneurial programs that enlighten ​and inspire ​K-12 students to embrace the ​possibilities of entrepreneurism, craftsmanship, ​professionalism ​and ​enhanced ​social skills.</p>             
            </div>
        </div>
        <div class="row">
            <div class="col">
            <br>
                <h3 align="center">Programs</h3>
                <hr>
                <p style="padding:0px 66px">"<u><strong>Lunch Money</strong></u>, How to Make It; How to Grow It: How to Give It Back."
                <br>
                During lunch hours, schools open a classroom to local businesspeople to come talk about their lives, business, or the passion of their hobbies. That can be an informal presentation or about various topics such as: success, failure, competition, planning, financial literacy, media literacy, business etiquette, networking, travels, challenges, dignity, listening, learning, leadership, integrity, humility, internships/apprenticeships, patience, perseverance, hard work, charity, types of wealth (money, experiences, time, etc.), querencia (being most like your true self), creativity, goal setting and, if you can imagine, more!
                </p>


                <p style="padding:0px 66px">"<u><strong>Visiting Professionals</strong></u>", like Lunch Money, business people come into classrooms of interested students about a range of topics.</p>

                <p style="padding:0px 66px"><u><strong>Tutoring</strong></u>, mentoring, apprenticeships, internships (to be announced).</p>
                        
            </div>
        </div>
<br><br>        
        <div class="row">
            <div class="col">
                <h3 align="center">Other programs</h3>
                <hr>
                <table width="100%">
                   <tr>
                       <td valign="top" width="30%">
                            <p align="center">Student Driven Businesses<br><a style="color:black; text-decoration:underline;" href="http://www.edcorps.org/">edcorps.org</a></p>
                       </td>
                       <td valign="top" width="30%">
                            <p align="center">In-School Bike Shop<br><a style="color:black; text-decoration:underline;" href="http://projectbiketech.org/">projectbiketech.org</a></p>
                       </td>
                       <td valign="top" width="30%">
                           <p align="center">Vocademy, Maker Space<br><a style="color:black; text-decoration:underline;" href="http://www.vocademy.com/">vocademy.com</a></p>
                       </td>
                   </tr>
               </table> 
            </div>
        </div>
        

        <br>


    </div>
</section>

