<section id="contact" class="bg-dark">
   <div class="container" id="why-lemonade-stand">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: white;"><strong>Why Lemonade Stand?</strong></h3>
                <hr style='background-color:#FFF;border-width:0;color:#FFF;height:2px;line-height:0;text-align:left;width:50%;'/>

                <p align="left" style="padding: 0px 66px; color: white;">
                For generations, the lemonade stand has been a child's first foray into enterprise. It's fun, creative, and sometimes profitable. It's what every job or business should be. YOUR Lemonade Stand is what we want to help YOU build.</p><br>
            </div>
        </div>
    </div>
<br>    
    <div class="container" id="what-we-believe">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: white;"><strong>What We Believe</strong></h3>
                <hr style='background-color:#FFF;border-width:0;color:#FFF;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left"  style="color: white; padding: 0px 66px;">
                EVERYTHING in life (being a student, a parent, a teacher, a factory worker or businessperson) is entrepreneurial. It requires creativity, ingenuity, and a positive attitude, whether it's asking a parent for money for the movies or building an empire.</p>
                <p align="left"  style="color: white; padding: 0px 66px;">
                Entrepreneurship is the crossroads where both the college bound and boundless meet. Learning and creativity are the common denominator. The college bound may pursue app development, robotics, etc. while the “career now” may learn trades that lead to business advancement and opportunities. The trades (cooking, plumbing, carpentry, etc.) lead to entrepreneurship, financial and societal independence. Even applying for the most rudimentary job will be enhanced with ingenuity and creativity. What is greater than the obvious challenges we face is the stunning possibility that we might empower even one young person to reach AND grasp a future that inspires their friends, families and communities to learn, thrive, build, invent, employ, and share success.</p>
                <p align="left"  style="color: white; padding: 0px 66px;">
                We value integrity, opportunity, responsibility, and community. We believe dignity, pride, and respect can be found in all work.</p><br>
            </div>
        </div>
    </div>
<br>  
    <div class="container" id="need">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: white;"><strong>The Need</strong></h2>
                <hr style='background-color:#FFF;border-width:0;color:#FFF;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:white;">
                Society’s one-size-fits-all aphorism of "go to college at all cost" has lead to $1.4 trillion in student loan debt, high school dropout rates of 25% (45% for colleges), higher crime (75% of all crimes are committed by high school dropouts), wage stagnation, outsourced manufacturing, an erosion of the middle class, political disenfranchisement and loss of respect for unions, trades, laborers, farming and craftsmanship. If nothing is done, the consequences are high. Economic and political malaise may remain, while "middle-skilled" jobs will go unfulfilled in the coming decade.</p>

                <p align="left" style="padding: 0px 66px;color:white;">
                    We need to empower the coming generations to think differently. All work can be meaningful and fulfilling.
                </p>
            </div>
        </div>
    </div> 
<br>
    <div class="container" id="solution">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 style="color: white;"><strong>A Solution</strong></h2>
                <hr style='background-color:#FFF;border-width:0;color:#FFF;height:2px;line-height:0;text-align:left;width:50%;'/>
                <p align="left" style="padding: 0px 66px;color:white;">
                Entrepreneurship is the crossroads where both the college bound and boundless meet. Learning and creativity is the common denominator. The college bound may pursue app development, robotics, etc. while the “career now” may learn trades that leads to business advancement and business opportunities. The trades (cooking, plumbing, carpentry, etc.) lead to entrepreneurship, financial and societal independence. Even applying for the most rudimentary job will be enhanced with ingenuity, creativity, and basic work skills.</p>
            </div>
        </div>
    </div>   
<br>    
</section>

