
    <div class="bg-primary container-fluid" style="margin:-40px; padding:80px;">
        <div class="row">
        	<div class="col" align="center">
        		<h2 align="center" style="color:black;">Thanks for Registering!</h1>
				<p align="center" style="color:black;">We'll be in touch shortly.</p>
				<a align="center" style="color:black;" href="/" class="btn btn-danger btn-xl">Take Me Back To The Lemonade Stand!</a>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
        	</div>
        </div>
	</div>
